//
// Colors
//
$g-color-primary: #224f77;

//
// Basic Colors

// Main Colors
$g-color-main: #7d7d8f;

// Primary Color
$g-color-primary: #224f77;

// Custom Color
$g-theme-color-gray-light-v1: #b5b5b5;
$g-theme-color-gray-light-v2: #f5f5f5;
$g-theme-color-gray-light-v3: #efeff4;
$g-theme-color-gray-dark-v1: #383339;
$g-theme-color-gray-dark-v3: #9797a2;
$g-theme-color-blue-dark-v1: #2d2d37;
$g-theme-color-blue-dark-v2: #272730;
$g-theme-color-blue-dark-v3: #363643;
$g-theme-color-blue-dark-v4: #33333f;
$g-theme-color-blue-dark-v5: #1e1e26;